/* 
* This is the halloween styling that the BlackjackTabletopGUI can use if desired.
*/

.label{
	-fx-font-weight: bold;
	-fx-text-fill: #e68129;
}

.button{
	-fx-color: #4abf26;
}

.board-background{
	-fx-background-color: black;
}